Repository iotaledger/iota-names, pull requests merged in 2025-09, with the labels that each got.

#591 feat(docs): Add workflow to deploy docs to vercel
  .github/workflows/deploy-docs-vercel.yml
  documentation/vercel.json
Labels: documentation, ci, devrel

#775 fix(dapp): fix infinite render loop error
  dapp/src/components/name-record/AvatarDisplay.tsx
Labels: tooling, iota-names-dapp, deployed

#718 feat(sdk): parse timestamp
  dapp/src/app/(protected)/my-names/components/NamePanelTile.tsx
  dapp/src/auctions/components/AuctionPublicItem.tsx
  dapp/src/auctions/lib/utils/auctionStatus.ts
  dapp/src/components/dialogs/CreateSubnameDialog.tsx
  dapp/src/components/dialogs/GeneralInfoDialog.tsx
  dapp/src/components/dialogs/RenewNameDialog.tsx
  dapp/src/components/dialogs/RenewSubameDialog.tsx
  dapp/src/hooks/useRegistrationNfts.ts
  dapp/src/hooks/useUpdateNameTransaction.ts
  dapp/src/lib/interfaces/registration.interfaces.ts
  dapp/src/lib/utils/format/formatDate.ts
  dapp/src/lib/utils/getDefaultExpirationDate.ts
  dapp/src/lib/utils/names.ts
  sdk/src/iota-names-client.ts
  sdk/src/types.ts
Labels: tooling, ts-sdk, iota-names-dapp, deployed
